<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Diego Jimenez Gonzalez - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="header-container">
    <header>
        <h1><a asp-action="Index" asp-controller="Home" class="mainTitle">Diego Jimenez Gonzalez</a></h1>
        <nav>
            <a asp-action="Index" asp-controller="Home">Home</a>
            <a href="#proyectos">Projects</a>
            <a href="#blog">Blog</a>
        </nav>
    </header>
</div>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<div class="footer-container">
    <footer>
        <div>&copy; 2025 - Diego Jimenez Gonzalez </div>
        <div class="footer-social-media">
            <a href="https://github.com/Gogo677" target="_blank"><img src="img/github-icon.svg" class="icon" width="30" height="30" alt="GitHub"/></a>
            <a href="https://www.linkedin.com/in/gogo677/" target="_blank"><img src="img/linkedin-icon.svg" class="icon" width="30" height="30" alt="LinkedIn"/></a>
        </div>
    </footer>
</div>

</body>
</html>