/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    padding: 15px 30px;
}

.footer-social-media {
    display: flex;
    gap: 10px;
}

.footer-social-media .icon {
    width: 30px;
    height: 30px;
}